!!!
html
	head
		title= title
		link(rel='stylesheet', href='/css/style.css')

		if(typeof scripts !== 'undefined' && scripts.length > 0)
			each script in scripts 
				script(type='text/javascript', src=script)

	body!= body