h2 paths
ul
if(paths)
	each path in paths
		li(pid=path._id)
			a(href="/paths/#{path._id}")=path.name
			a(class="delete") - del


h3 create
form(action="/paths", method="post")
	input(type="text", name="name")
	input(type="submit", value="save")